body {
    background: #3b8c54; /* Dark green background */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#calc-container {
    background: rgba(20, 94, 57, 0.5); /* Transparent green container */
    max-width: 500px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    font-size: 14px;
}

h2, label, p {
    color: #f7df59; /* Yellow text */
    margin: 10px;
}

input[type=number], input[type=text], select {
    padding: 8px;
    margin: 5px;
    width: 115px;
    border-radius: 5px;
    border: 1px solid #f7df59; /* Yellow border */
    background-color: #fff; /* White background */
    color: #000; /* Black text */
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f7df59; /* Yellow button */
    color: #000; /* Black text */
    cursor: pointer;
}

button:hover {
    background-color: #C0C0C0; /* Light gray on hover */
    color: #fff; /* White text on hover */
}

#gpa-result {
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    color: #f7df59; /* Yellow text */
}

#current-gpa {
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #f7df59; /* Yellow border */
    background-color: #fff; /* White background */
    color: #000; /* Black text */
}

#current-cumulative-gpa-btn{
    margin-top: 20px;
}
